EOS-Data
Constructed_Polytropic_EOS
Quarkyonic EOSs satisfying GW170817
Quarkyonic EOSs satisfying GW170817.zip
EOS_PT_refined1
__pycache__
Fig
eos_DD2BPS_hadronic_cs2.csv
eos_DD2BPS_hadronic.dat
EOS_PT_refined1.zip
Mass-Radius-SLY_4-EOS_4-plot.dat
Mass-Radius-SLY_4-EOS.dat
Luminosity_Function_lightcurve.ipynb